@import url("./_global/styles/_reboot.css");
@import url("./_global/styles/_variables.css");
@import url("./_global/styles/_layout.css");

body {
  background-color: var(--color-dark);
  color: var(--color-white);

  min-height: 100vh;
}

main {
  padding: 32px 0;
}

a {
  color: var(--color-white);
}
